---
import Layout from "../layouts/Layout.astro";
---

<Layout title="The Brewing Project Tools.">
    <div class="p-4">
        Tools related to
        <a class="text-blue-600 underline" href="https://discord.gg/QsDKaruwcC">The Brewing Project</a>
        and stuff<br />
        <br />
        Btw, this website is not mobile-friendly (yet).
    </div>
</Layout>

<style></style>
